html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0 !important;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

#navbar {
  width: 100%;
  background-color: #236e96;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

#navbar img {
  height: 50px;
}

#navbar ul {
  padding: 0;
  margin: 0 0 0 auto;
  width: 100%;
  height: 100%;
}

#navbar ul li {
  float: left;
  width: calc(100% / 4);
  list-style: none;
  height: inherit;
}

#navbar ul li button {
  width: 100%;
  height: 100%;
  background-color: inherit;
  color: white;
  border-style: none;
  border-width: 0;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-align: center;
  overflow: hidden;
}

#navbar ul li button:hover {
  background-color: #15b2d3;
}

.frosted {
  opacity: 0.8 !important;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

#hero {
  /*background-image: url("/assets/images/fillerimage.jpg");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;*/
  height: 100vh;
}

#hero .focus {
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: -50%;
  text-align: center;
  color: black;
  z-index: 5;
}

#hero .focus button {
  background-color: #ffd700;
  border-radius: 15px;
  border-width: 0;
  -webkit-box-shadow: 3px 3px 3px black;
          box-shadow: 3px 3px 3px black;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

#hero .focus button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#hero .focus h1 {
  font-size: 40px;
  font-weight: bold;
  word-spacing: 5px;
  line-height: 1;
}

#hero .focus h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
}

#hero .slide:nth-of-type(1) .focus {
  color: white;
}

#hero .slide {
  width: 100%;
  height: 100%;
  display: none;
}

#hero .slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}

#about {
  background-color: white;
}

#about h1 {
  color: #ff589f;
}

#about .gridlayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .gridlayout img {
  width: 30%;
  height: 30%;
}

@media (max-width: 768px) {
  #about .gridlayout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about .gridlayout img {
    width: 100%;
    height: 100%;
  }
}

#about .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about .grid .about-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .grid .about-row div {
  background: #ffd700;
  width: 45%;
  min-height: 12%;
  margin: 1%;
  padding: 1%;
  -webkit-box-shadow: 5px 5px 10px 0 #666666;
          box-shadow: 5px 5px 10px 0 #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .grid .about-row p {
  width: 100%;
  text-align: left;
  font-size: 1em;
}

#about .grid .about-row h2 {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
}

@media (max-width: 768px) {
  #about .grid {
    margin: 0 auto;
  }
  #about .grid .about-row div {
    width: 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #about .grid .about-row h2 {
    font-size: 1.5em;
  }
}

#about .grid #t-l {
  border-radius: 10px 0 0 0;
}

#about .grid #b-l {
  border-radius: 0 0 0 10px;
}

#about .grid #t-r {
  border-radius: 0 10px 0 0;
}

#about .grid #b-r {
  border-radius: 0 0 10px 0;
}

#timeline {
  background-color: #f3872f;
}

#timeline h1 {
  color: white;
}

#timeline table {
  background-color: #15b2d3;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 3px black;
          box-shadow: 3px 3px 3px black;
  margin-bottom: 20px;
}

#timeline table th {
  text-align: center;
  font-weight: 700;
}

#timeline table th:nth-child(1), #timeline table td:nth-child(1) {
  width: 80%;
  padding-left: 20px;
}

#timeline table th:nth-child(2), #timeline table td:nth-child(2) {
  width: 20%;
  text-align: center;
  padding-right: 20px;
}

#credentials {
  background-color: white;
}

#credentials h1 {
  color: #ff589f;
}

#credentials .profileBox {
  background-color: #236e96;
  border-radius: 15px;
}

#credentials .profileBox img {
  width: 80%;
  margin-left: 10%;
  max-width: 200px;
}

#signup {
  background-color: #f3872f;
}

#signup h1 {
  color: white;
}

#signup .row div:nth-child(1) .glowyBox {
  background-color: #ff589f;
}

#signup .row div:nth-child(2) .glowyBox {
  background-color: #ffd700;
}

#signup .row div:nth-child(3) .glowyBox {
  background-color: #15b2d3;
}

#signup .glowyBox {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  border-radius: 15px;
  height: 100%;
  -webkit-box-shadow: 3px 3px 3px black;
          box-shadow: 3px 3px 3px black;
  max-width: 300px;
  margin: auto;
}

#signup .glowyBox p {
  margin: 0;
}

#signup .glowyBox:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#footer {
  background-color: #236e96;
  height: 50px;
}
/*# sourceMappingURL=style.css.map */