html {
  scroll-behavior: smooth;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;    
    text-decoration: none;
    color: rgb(255, 255, 255);
}

body {
  margin: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

#navbar {
  width: 100%;
  background-color: #236e96;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 10;
}

#hero {
  /*background-image: url("/assets/images/fillerimage.jpg");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;*/
  height: 100vh;
}

#hero .focus {
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: -50%;
  text-align: center;
  color: black;
  z-index: 5;
}

#hero .focus button {
  background-color: #ffd700;
  border-radius: 15px;
  border-width: 0;
  -webkit-box-shadow: 3px 3px 3px black;
          box-shadow: 3px 3px 3px black;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

#hero .focus button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#hero .focus h1 {
  font-size: 40px;
}

#hero .focus h2 {
  font-size: 20px;
  word-spacing: 10px;
}

#hero .slide:nth-of-type(1) .focus {
  color: white;
}

#hero .slide {
  width: 100%;
  height: 100%;
  display: none;
}

#hero .slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}

#about {
  background-color: white;
}

#about h1 {
  color: #ff589f;
}

#about #hackathonComparison {
  background-color: #ffd700;
  -webkit-box-shadow: 3px 3px 3px black;
          box-shadow: 3px 3px 3px black;
  border-radius: 15px;
  margin: 0px 30px 15px 30px;
}

#about #hackathonComparison h4 {
  text-align: center;
}

#about #hackathonComparison ul {
  margin: 0;
}

#timeline {
  background-color: #f3872f;
}

#timeline h1 {
  color: white;
}

#timeline table {
  background-color: #15b2d3;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 3px black;
          box-shadow: 3px 3px 3px black;
  margin-bottom: 20px;
}

#timeline table th {
  text-align: center;
  font-weight: 700;
}

#timeline table th:nth-child(1), #timeline table td:nth-child(1) {
  width: 80%;
  padding-left: 20px;
}

#timeline table th:nth-child(2), #timeline table td:nth-child(2) {
  width: 20%;
  text-align: center;
  padding-right: 20px;
}

#credentials {
  background-color: white;
}

#credentials h1 {
  color: #ff589f;
}

#credentials .profileBox {
  background-color: #236e96;
  border-radius: 15px;
}

#credentials .profileBox img {
  width: 80%;
  margin-left: 10%;
}

#signup {
  background-color: #f3872f;
}

#signup h1 {
  color: white;
}

#signup .col-4:nth-child(1) .glowyBox {
  background-color: #ff589f;
}

#signup .col-4:nth-child(2) .glowyBox {
  background-color: #ffd700;
}

#signup .col-4:nth-child(3) .glowyBox {
  background-color: #15b2d3;
}

#signup .glowyBox {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  border-radius: 15px;
  height: 100%;
  -webkit-box-shadow: 3px 3px 3px black;
          box-shadow: 3px 3px 3px black;
}

#signup .glowyBox p {
  margin: 0;
}

#signup .glowyBox:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#footer {
  background-color: #236e96;
  height: 50px;
}
/*# sourceMappingURL=style.css.map */
