$pink: #ff589f;
$light-blue: #15b2d3;
$navy: #236e96;
$yellow: #ffd700;
$orange: #f3872f;
$font: 'M PLUS Rounded 1c', sans-serif;
$white: white;
html {
  scroll-behavior: smooth;
}
body {
  margin:0;
  font-family:$font;
}
#navbar {
  width:100%;
  background-color:$navy;
  height:50px;
  position:fixed;
  top:0;
  z-index:10;
}
#hero {
  /*background-image: url("/assets/images/fillerimage.jpg");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;*/
  //background-color: $light-blue;
  height:100vh;
  .focus {
    position:relative;
    transform:translateY(-50%);
    top:-50%;
    text-align:center;
    color:black;
    z-index:5;
    button {
      background-color:$yellow;
      border-radius:15px;
      border-width:0;
      box-shadow:3px 3px 3px black;
      transition: transform 0.2s;
    }
    button:hover {
      transform: scale(1.1);
    }
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 20px;
      word-spacing: 10px;
    }
  }
  .slide:nth-of-type(1) .focus{
    color:white;
  }
  .slide {
    width:100%;
    height:100%;
    display:none;
  }
  .slide img {
    height:100%;
    width:100%;
    object-fit:cover;
    z-index:2;
  }
}
#about {
  background-color: $white;
  h1 {
    color:$pink;
  }
  #hackathonComparison {
    background-color:$yellow;
    box-shadow:3px 3px 3px black;
    border-radius:15px;
    h4 {
      text-align:center;
    }
    margin:0px 30px 15px 30px;;
    ul {
      margin:0;
    }
  }
}
#timeline {
  background-color:$orange;
  h1 {
    color:$white;
  }
  table {
    background-color:$light-blue;
    border-radius:15px;
    th {
      text-align:center;
      font-weight:700;
    }
    box-shadow:3px 3px 3px black;
    margin-bottom:20px;
  }
  table th:nth-child(1), table td:nth-child(1) {
    width:80%;
    padding-left:20px;
  }
  table th:nth-child(2), table td:nth-child(2) {
    width:20%;
    text-align:center;
    padding-right:20px;
  }
}
#credentials {
  h1 {
    color:$pink;
  }
  background-color:$white;
  .profileBox {
    background-color:$navy;
    border-radius:15px;
  }
  .profileBox img {
    width:80%;
    margin-left:10%;
  }
}
#signup {
  background-color:$orange;
  h1 {
    color:$white;
  }
  .col-4:nth-child(1) .glowyBox {
    background-color:$pink;
  }
  .col-4:nth-child(2) .glowyBox {
    background-color:$yellow;
  }
  .col-4:nth-child(3) .glowyBox {
    background-color:$light-blue;
  }
  .glowyBox {
    transition: transform 0.2s;
    border-radius:15px;
    p {
      margin:0;
    }
    height:100%;
    box-shadow:3px 3px 3px black;
  }
  .glowyBox:hover {
    transform: scale(1.1);
  }
}
#footer {
  background-color:$navy;
  height:50px;
}
