$pink: #ff589f;
$light-blue: #15b2d3;
$navy: #236e96;
$yellow: #ffd700;
$orange: #f3872f;
$font: 'M PLUS Rounded 1c', sans-serif;
$white: white;

body {
  margin:0;
  font-family:$font;
}
#navbar {
  width:100%;
  background-color:$navy;
  height:50px;
  position:fixed;
  top:0;
  z-index:10;
}
#hero {
  background-image: url("/assets/images/fillerimage.jpg");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  //background-color: $light-blue;
  height:100vh;
  .focus {
    position:relative;
    transform:translateY(-50%);
    top:50%;
    text-align:center;
    background-color:black;
  }
  h1 {
    color:$white;
    font-size: 40px;
  }
  h2 {
    color:$white;
    font-size: 20px;
    word-spacing: 10px;
  }
  ul {
    position:relative;
    transform:translateY(-50%);
    top:70%;
    text-align:center;
  }
}
#about {
  background-color: $white;
  h1 {
    color:$pink;
  }
  #hackathonComparison {
    background-color:$yellow;
    box-shadow:3px 3px 3px black;
    border-radius:15px;
    h4 {
      text-align:center;
    }
    margin:0px 30px 15px 30px;;
    ul {
      margin:0;
    }
  }
}
#timeline {
  background-color:$orange;
  h1 {
    color:$white;
  }
  table {
    background-color:$light-blue;
    border-radius:15px;
    th {
      text-align:center;
      font-weight:700;
    }
    box-shadow:3px 3px 3px black;
    margin-bottom:20px;
  }
  table th:nth-child(1), table td:nth-child(1) {
    width:80%;
    padding-left:20px;
  }
  table th:nth-child(2), table td:nth-child(2) {
    width:20%;
    text-align:center;
    padding-right:20px;
  }
}
#credentials {
  h1 {
    color:$pink;
  }
  background-color:$white;
}
#signup {
  background-color:$orange;
  h1 {
    color:$white;
  }
  .col-4:nth-child(1) .glowyBox {
    background-color:$pink;
  }
  .col-4:nth-child(2) .glowyBox {
    background-color:$yellow;
  }
  .col-4:nth-child(3) .glowyBox {
    background-color:$light-blue;
  }
  .glowyBox {
    transition: transform 0.2s;
    border-radius:15px;
    p {
      margin:0;
    }
    height:100%;
    box-shadow:3px 3px 3px black;
  }
  .glowyBox:hover {
    transform: scale(1.1);
  }
}
#footer {
  background-color:$navy;
  height:50px;
}
