$pink: #ff589f;
$light-blue: #15b2d3;
$navy: #236e96;
$yellow: #ffd700;
$orange: #f3872f;
$font: 'M PLUS Rounded 1c', sans-serif;
$white: white;
$breakpoint-phone: 576px;
$breakpoint-tablet: 768px;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  margin:0!important;
  font-family:$font;
}
#navbar {
  width:100%;
  background-color:$navy;
  height:50px;
  position:fixed;
  top:0;
  z-index:10;
  padding:0;
  display:flex;
  align-items: center;
  img {
    height:50px;
  }
  
  ul {
    padding:0;
    margin:0 0 0 auto;
    width:100%;
    height:100%;
    li {
      float:left;
      width:calc(100% / 4);
      list-style: none;
      height:inherit;
      button {
        width:100%;
        height:100%;
        background-color:inherit;
        color:white;
        border-style:none;
        border-width:0;
        transition:background-color 0.2s;
        text-align:center;
        overflow:hidden;
      }
      button:hover {
        background-color:$light-blue;
      }
    }

  }
  /*@media (max-width: $breakpoint-phone) {
    img {
      display:none;
    }
    ul {
      width:80%;
      background-color:green;
      li {
        float:none;
        width:100%;
      }
    }
  }*/
}
#milano {
  margin-top:200px;
  width:100%;
  background-color:$navy;
  height:50px;
  padding:0;
  display:flex;
  align-items: center;
}
#hero {
  /*background-image: url("/assets/images/fillerimage.jpg");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;*/
  //background-color: $light-blue;
  height:100vh;
  .focus {
    position:relative;
    transform:translateY(-50%);
    top:-50%;
    text-align:center;
    color:black;
    z-index:5;
    button {
      background-color:$yellow;
      border-radius:15px;
      border-width:0;
      box-shadow:3px 3px 3px black;
      transition: transform 0.2s;
    }
    button:hover {
      transform: scale(1.1);
    }
    h1 {
      font-size: 40px;
      font-weight: bold;
      word-spacing: 5px;
      line-height: 1;
    }
 
    h2 {
      font-size: 20px;
      font-weight: bold;
      word-spacing: 10px;
      line-height: 1.4;
    }
  }
  .slide:nth-of-type(1) .focus{
    color:white;
  }
  .slide {
    width:100%;
    height:100%;
    display:none;
  }
  .slide img {
    height:100%;
    width:100%;
    object-fit:cover;
    z-index:2;
  }
}
#about {
  background-color: $white;
  h1 {
    color:$pink;
  }
  .gridlayout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
      width: 30%;
      height: 30%;
    }

    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
      justify-content: center;
      img {
        width:100%; height: 100%;
      }
    }

  }

  .grid {
    display: flex;
    flex-direction: column;

    .about-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      div {
        background: $yellow;
        width: 45%;
        min-height: 12%;
        margin: 1%; padding: 1%;
        box-shadow: 5px 5px 10px 0 #666666;

        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      p { width: 100%; text-align: left; font-size: 1em;}
      h2 { 
        font-size: 1.5em;
        font-weight: 900;
        text-align:center; 
      }     
    }

    @media (max-width: $breakpoint-tablet) {
      margin: 0 auto;
      .about-row{
        div {
          width: 50%;
          justify-content: flex-start;
        }
        h2 { font-size: 1.5em; }
      }
    }

    #t-l { border-radius: 10px 0 0 0; }
    #b-l { border-radius: 0 0 0 10px; }
    #t-r { border-radius: 0 10px 0 0; }
    #b-r { border-radius: 0 0 10px 0; }
  }
}

#timeline {
  background-color:$orange;
  h1 {
    color:$white;
  }
  table {
    background-color:$light-blue;
    border-radius:15px;
    th {
      text-align:center;
      font-weight:700;
    }
    box-shadow:3px 3px 3px black;
    margin-bottom:20px;
  }
  table th:nth-child(1), table td:nth-child(1) {
    width:80%;
    padding-left:20px;
  }
  table th:nth-child(2), table td:nth-child(2) {
    width:20%;
    text-align:center;
    padding-right:20px;
  }
}
#credentials {
  h1 {
    color:$pink;
  }
  background-color:$white;
  .profileBox {
    background-color:$navy;
    border-radius:15px;
  }
  .profileBox img {
    width:80%;
    margin-left:10%;
  }
}
#signup {
  background-color:$orange;
  h1 {
    color:$white;
  }
  .col-4:nth-child(1) .glowyBox {
    background-color:$pink;
  }
  .col-4:nth-child(2) .glowyBox {
    background-color:$yellow;
  }
  .col-4:nth-child(3) .glowyBox {
    background-color:$light-blue;
  }
  .glowyBox {
    transition: transform 0.2s;
    border-radius:15px;
    p {
      margin:0;
    }
    height:100%;
    box-shadow:3px 3px 3px black;
  }
  .glowyBox:hover {
    transform: scale(1.1);
  }
}
#footer {
  background-color:$navy;
  height:50px;
}
